<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quiz Categories</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<h1 class="title">Quiziverse</h1>
<h2 class="title-cat">Select a category</h2>
<ul>
    <li th:each="category : ${categories}">
        <a th:href="@{'/quiz/' + ${category.label}}">
            <button class="btn-cat" th:text="${category.label}"></button>
        </a>
    </li>
</ul>
</body>
</html>
